{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>Following</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div>
        {% for post in posts %}
            <div class="container border border-secondary rounded-sm post-container">
                <div class="row post-row">
                    <p><b>{{ listing.title }}</b></a></p>
                    <h3><a href="{% url 'get_user' post.user.id %}">{{ post.user.username }}</a></h3>
                </div>
                <div class="row post-row">
                    <div>{{ post.message }}</div>
                </div>
                <div class="row post-row">
                    <div>{{ post.created_on }}</div>
                </div>
                <div class="row post-row">
                    <div style="display: inline;">
                         {% if user.is_authenticated %}
                            {% if user in post.likes.all %}
                                <i data-id="{{ post.id }}" class="fas fa-heart" style="color: red;"></i>
                            {% else %}
                                <i data-id="{{ post.id }}" class="far fa-heart" style="color: red;"></i>
                            {% endif %}
                         {% endif %}
                        <div class="like-count" data-id="{{ post.id }}" style="display: inline;">{{ post.like_count }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
     </div>

     <div class="pagination justify-content-center" style="margin-top: 20px;">
        <span class="step-links justify-content-center">
            <nav aria-label="post pagination">
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a></li>
                    {% endif %}

                    {% for page in num_page_range %}
                        {% if forloop.counter|slugify == current_page|slugify %}
                            <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}
                                <span class="sr-only">(current)</span>
                            </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}