{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>All Posts</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

     
        {% for post in posts %}
            <div class="container border border-secondary rounded-sm post-container" data-post_container_id="{{ post.id }}">
                <div class="row post-row">
                    <h3><a href="{% url 'get_user' post.user.id %}">{{ post.user.username }}</a></h3>
                </div>
                <div class="row post-row">
                    <div data-message="{{ post.id }}">{{ post.message }}</div>
                </div>
                <div class="row post-row">
                    <div>{{ post.created_on }} 
                        {% if post.user.id == request.user.id %}
                            {% comment %} <a href="{% url 'post' post.id %}">Edit</a> {% endcomment %}
                            <a class="edit_post" id="edit_post_{{ post.id }}" data-editid="{{ post.id }}" href="#edit_post_{{ post.id }}">Edit</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row post-row">
                    <div style="display: inline;">
                         {% if user.is_authenticated %}
                            {% if user in post.likes.all %}
                                <i data-id="{{ post.id }}" class="fas fa-heart" style="color: red;"></i>
                            {% else %}
                                <i data-id="{{ post.id }}" class="far fa-heart" style="color: red;"></i>
                            {% endif %}
                         {% endif %}
                        <div class="like-count" data-id="{{ post.id }}" style="display: inline;">{{ post.like_count }}</div>
                    </div>
                </div>
            </div>
            <div class="container border border-secondary rounded-sm post-container" data-edit_container_id="{{ post.id }}" style="display: none;">
                <div>
                    <textarea id="text_{{ post.id }}">{{ post.message }}</textarea>
                </div>
                <div>
                    <button data-cancelid="{{ post.id }}" id="cancel-button_{{ post.id }}" type="button" class="btn btn-primary cancel-button">Cancel</button>
                    <button data-saveid="{{ post.id }}" id="save-button_{{ post.id }}" type="button" class="btn btn-primary save-button">Save</button> 
                </div>
            </div>
        {% endfor %}
     </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/like.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}