{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>User Pofile</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

     
    <div>
        {{ user.username }}    
     </div>
    <div>
        {% if following %}
            <a data-userid="{{ user.id }}" id="follow-user" href="#">Follow user</a>
        {% else %}
            <a data-userid="{{ user.id }}" id="follow-user" href="#">Unfollow user</a>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}